

@{

}

<form class="credentials-container">
    <h1 class="credentials-container__header">Login page</h1>
    <div class="credentials-container__wrapper login">
        <label for="admin-login" class="wrapper__header header--login">Login</label>
        <input type="text" id="admin-login" name="admin-login" class="credentials-field login--field"/>
    </div>
    <div class="credentials-container__wrapper password">
        <label for="admin-password" class="wrapper__header header--password">Password</label>
        <input type="password" id="admin-password" name="admin-password" class="credentials-field password--field"/>
    </div>
    <button class="admin-login-button">Login</button>
</form>
