@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <form class="credentials-container">
        <h1 class="credentials-container__header">Login page</h1>
        <div class="credentials-container__wrapper login">
            <label for="login" class="wrapper__header header--login">Login</label>
            <input type="text" id="login" name="login" class="credentials-field login--field"/>
        </div>
        <div class="credentials-container__wrapper password">
            <label for="password" class="wrapper__header header--password">Password</label>
            <input type="password" id="password" name="password" class="credentials-field password--field"/>
        </div>
        <button class="login_button">Login</button>
    </form>
}
